<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Add A Movie.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Movie-Memory.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Movie-Widget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>270A19DB19FB2FFE0003D3DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>270A19F119FB304C0003D3DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27E12494193047520081A218</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27E124B8193047520081A218</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
